@model PolizaUI.Models.Poliza

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles Póliza</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPoliza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPoliza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCubrimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoCubrimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeCobertura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeCobertura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InicioVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InicioVigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoCobertura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeriodoCobertura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoRiesgo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoRiesgo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdPoliza }) |
    <a asp-action="Index">Ir al listado</a>
</div>
