@model PolizaUI.Models.Poliza

@{
    ViewData["Title"] = "Eliminar";
}

    <h1>Eliminar Póliza</h1>

<h3>Esta seguro que desea eliminar la póliza?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCubrimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoCubrimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeCobertura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeCobertura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InicioVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InicioVigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoCobertura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeriodoCobertura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoRiesgo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoRiesgo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
    </dl>

    <form asp-action="Elimine" method="post" asp-route-id=@Model.IdPoliza>
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index">Ir al listado</a>
    </form>
</div>
