@model IEnumerable<PolizaUI.Models.Poliza>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Pólizas</h1>

<p>
    <a asp-action="Agregar">Nueva</a>
</p>

@if (!Model.Any())
{
    <div class="row">
        No hay pólizas.
    </div>
}
else
{
    <text>

        <div class="container">
            <div class="row">
                <div class="table-responsive-sm">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TipoCubrimiento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PorcentajeCobertura)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InicioVigencia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PeriodoCobertura)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Precio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TipoRiesgo)
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoCubrimiento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PorcentajeCobertura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InicioVigencia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodoCobertura)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Precio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoRiesgo)
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            @*<input type="button" class="btn btn-primary" value="Editar"
                                                onclick="editar(@item.IdPoliza)" />*@
                                            @Html.ActionLink("Editar", "Editar", new { @id = item.IdPoliza })
                                            @Html.ActionLink("Detalles", "Detalles", new { @id = item.IdPoliza })
                                            @Html.ActionLink("Eliminar", "Eliminar", new { @id = item.IdPoliza })
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div></text>
}


