@model PolizaUI.Models.Cliente

@{
    ViewData["Title"] = "Cliente";
}

<h1>Cliente: @Model.Nombre</h1>

<div class="container">
    <div class="row">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
    <div class="row">
        <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().TipoCubrimiento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().PorcentajeCobertura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().InicioVigencia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().PeriodoCobertura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().Precio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().TipoRiesgo)
                        </th>
                        <th>
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MisPolizas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoCubrimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PorcentajeCobertura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InicioVigencia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeriodoCobertura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoRiesgo)
                            </td>
                            <td>
                                <div class="btn-group-vertical">
                                    <input type="button" class="btn btn-primary" value="Editar"
                                           onclick="cancelar(@item.IdCliente,@item.IdPoliza)" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="btn-group">
        @*<input type="button" class="btn btn-primary" value="Ascociar nueva"
        onclick="getAsociar(@Model)" />*@
        @Html.ActionLink("Asociar", "Asociar", new { @cliente = Model })
    </div>
</div>
