@model PolizaUI.Models.Cliente

@{
    ViewData["Title"] = "Cliente";
}

<h1>Cliente: @Model.Nombre</h1>

<div class="container">
    <div class="row">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
    <div class="row">
        <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().TipoCubrimiento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().PorcentajeCobertura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().InicioVigencia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().PeriodoCobertura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().Precio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MisPolizas.First().TipoRiesgo)
                        </th>
                        <th>
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MisPolizas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoCubrimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PorcentajeCobertura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InicioVigencia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeriodoCobertura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoRiesgo)
                            </td>
                            <td>
                                <form asp-action="Cancelar" method="post" asp-route-id=@item.IdPoliza>
                                    <input type="submit" value="Cancelar" class="btn btn-danger" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <form asp-action="Asignar" method="get" asp-route-id=@Model.IdCliente>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Asignar</button>
        </div>
    </form>
    
</div>
